<div class="container">
    <form id="milestoneForm">
        <div class="row">
            <div class="twelve columns">
                <label for="milestoneSelect">Milestone</label>
                <select class="u-full-width" id="milestoneSelect">
                <option value="Option 1">Task 1</option>
                <option value="Option 2">Task 2</option>
                <option value="Option 3">Task 3</option>
                </select>
            </div>
        </div>
    </form>
</div>
