<div class="container">
    <form id="milestoneForm">
        <div class="row">
            <div class="twelve columns">
                <label for="titleInput">Title</label>
                <input class="u-full-width" type="text" placeholder="Title" id="titleInput"></input>
            </div>
        </div>
        <div class="row" id="milestoneSelectDiv">
            <div class="twelve columns">
                <label for="milestoneSelect">Task</label>
                <select class="u-full-width" id="milestoneSelect">
                <option value="Option 1">Task 1</option>
                <option value="Option 2">Task 2</option>
                <option value="Option 3">Task 3</option>
                </select>
            </div>
        </div>
        <div class="row" id="addTask"></div>
        <button type="button" onclick="addTaskSelect()">+</button>
        <input class="button-primary" type="submit" value="Add task(s)"></input>
    </form>
</div>
