<div class="container">
    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="titleInput">Title</label>
                <input class="u-full-width" type="text" placeholder="Title" id="titleInput"></input>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="descriptionInput">Description</label>
                <textarea class="u-full-width" placeholder="Description..." id="descriptionTextarea"></textarea>
            </div>
        </div>
        <input class="button-primary" type="submit" value="Add"></input>
    </form>
</div>
