<div class="container">
    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="titleInput">Title</label>
                <input class="u-full-width" type="text" placeholder="Title" id="titleInput"></input>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="startDateInput">Start date</label>
                <input class="u-full-width" type="date" placeholder="" id="startDateInput"></input>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="endDateInput">End date</label>
                <input class="u-full-width" type="date" placeholder="" id="endDateInput"></input>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="descriptionInput">Description</label>
                <input class="u-full-width" type="text" placeholder="Description..." id="descriptionInput"></input>
            </div>
        </div>
        <input class="button-primary" type="submit" value="Add"></input>
    </form>
</div>
