<h2>Project {X} Overview</h2>
<hr />
<div class="dashboard-wrapper">
	<div class="dashboard-section">
		<div class="dashboard-chart-wrapper pull-left">
			<canvas id="chtProject" width="600" height="400"></canvas>
		</div>
		<div class="dashboard-grid-wrapper pull-right">
			<table cellpadding="1" cellspacing="1">
				<tr>
					<th>Milestone</th>
					<th>Outstanding Tasks</th>
					<th>Status</th>
					<th>Progress</th>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur</td>
					<td>5</td>
					<td>dapibus quam</td>
					<td>36</td>
				</tr>
				<tr>
					<td>Lorem</td>
					<td>13</td>
					<td>eget, venenatis</td>
					<td>67</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor</td>
					<td>7</td>
					<td>Duis at</td>
					<td>98</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit</td>
					<td>22</td>
					<td>lacus. Ut</td>
					<td>16</td>
				</tr>
				<tr>
					<td>Lorem ipsum</td>
					<td>37</td>
					<td>facilisi. Sed</td>
					<td>51</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer</td>
					<td>29</td>
					<td>eu metus.</td>
					<td>21</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
					<td>1</td>
					<td>mattis. Integer</td>
					<td>49</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur</td>
					<td>34</td>
					<td>pede ac</td>
					<td>62</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit</td>
					<td>36</td>
					<td>Suspendisse sed</td>
					<td>6</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur</td>
					<td>13</td>
					<td>tempor lorem,</td>
					<td>57</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
					<td>37</td>
					<td>urna. Ut</td>
					<td>97</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet,</td>
					<td>30</td>
					<td>Phasellus nulla.</td>
					<td>77</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit</td>
					<td>43</td>
					<td>velit dui,</td>
					<td>67</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
					<td>28</td>
					<td>nisl. Nulla</td>
					<td>32</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor</td>
					<td>42</td>
					<td>sit amet,</td>
					<td>39</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet,</td>
					<td>15</td>
					<td>dui. Suspendisse</td>
					<td>74</td>
				</tr>
				<tr>
					<td>Lorem</td>
					<td>27</td>
					<td>non quam.</td>
					<td>35</td>
				</tr>
				<tr>
					<td>Lorem</td>
					<td>43</td>
					<td>fermentum arcu.</td>
					<td>89</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
					<td>41</td>
					<td>ac turpis</td>
					<td>30</td>
				</tr>
				<tr>
					<td>Lorem ipsum</td>
					<td>49</td>
					<td>tortor nibh</td>
					<td>3</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet,</td>
					<td>25</td>
					<td>rhoncus. Nullam</td>
					<td>22</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit</td>
					<td>12</td>
					<td>morbi tristique</td>
					<td>84</td>
				</tr>
				<tr>
					<td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur</td>
					<td>19</td>
					<td>placerat. Cras</td>
					<td>15</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	var data = {
		labels: ["January", "February", "March", "April", "May", "June", "July"],
		datasets: [
			{
				label: "My First dataset",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#000",
				pointHighlightFill: "#333",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: [65, 59, 80, 81, 56, 55, 40]
			},
			{
				label: "My Second dataset",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#111",
				pointHighlightFill: "#666",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: [28, 48, 40, 19, 86, 27, 90]
			}
		]
	};

	function BuildProjectChart(data) {
		// Get the context of the canvas element we want to select
		var ctx = document.getElementById("chtProject").getContext("2d");		
		ctx.canvas.width  = document.getElementById("main-container").offsetWidth * 0.40;		
		var newChart = new Chart(ctx).Line(data);		
	}
	
	BuildProjectChart(data);
	
	Chart.defaults.global = {
		// Boolean - Whether to animate the chart
		animation: true,			
		// Number - Number of animation steps
		animationSteps: 60,			
		// String - Animation easing effect
		animationEasing: "easeOutQuart",			
		// Boolean - If we should show the scale at all
		showScale: true,			
		// Boolean - If we want to override with a hard coded scale
		scaleOverride: false,			
		// ** Required if scaleOverride is true **
		// Number - The number of steps in a hard coded scale
		scaleSteps: null,
		// Number - The value jump in the hard coded scale
		scaleStepWidth: null,
		// Number - The scale starting value
		scaleStartValue: null,			
		// String - Colour of the scale line
		scaleLineColor: "rgba(0,0,0,.1)",			
		// Number - Pixel width of the scale line
		scaleLineWidth: 1,			
		// Boolean - Whether to show labels on the scale
		scaleShowLabels: true,			
		// Interpolated JS string - can access value
		//scaleLabel: "<%=value%>",			
		// Boolean - Whether the scale should stick to integers, not floats even if drawing space is there
		scaleIntegersOnly: true,			
		// Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
		scaleBeginAtZero: false,	
		// String - Scale label font declaration for the scale label
		scaleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",			
		// Number - Scale label font size in pixels
		scaleFontSize: 12,			
		// String - Scale label font weight style
		scaleFontStyle: "normal",			
		// String - Scale label font colour
		scaleFontColor: "#666",			
		// Boolean - whether or not the chart should be responsive and resize when the browser does.
		responsive: true,			
		// Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
		maintainAspectRatio: true,			
		// Boolean - Determines whether to draw tooltips on the canvas or not
		showTooltips: true,			
		// Function - Determines whether to execute the customTooltips function instead of drawing the built in tooltips (See [Advanced - External Tooltips](#advanced-usage-custom-tooltips))
		customTooltips: false,			
		// Array - Array of string names to attach tooltip events
		tooltipEvents: ["mousemove", "touchstart", "touchmove"],			
		// String - Tooltip background colour
		tooltipFillColor: "rgba(0,0,0,0.8)",			
		// String - Tooltip label font declaration for the scale label
		tooltipFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",			
		// Number - Tooltip label font size in pixels
		tooltipFontSize: 14,			
		// String - Tooltip font weight style
		tooltipFontStyle: "normal",			
		// String - Tooltip label font colour
		tooltipFontColor: "#fff",			
		// String - Tooltip title font declaration for the scale label
		tooltipTitleFontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",			
		// Number - Tooltip title font size in pixels
		tooltipTitleFontSize: 14,			
		// String - Tooltip title font weight style
		tooltipTitleFontStyle: "bold",			
		// String - Tooltip title font colour
		tooltipTitleFontColor: "#fff",			
		// Number - pixel width of padding around tooltip text
		tooltipYPadding: 6,			
		// Number - pixel width of padding around tooltip text
		tooltipXPadding: 6,			
		// Number - Size of the caret on the tooltip
		tooltipCaretSize: 8,			
		// Number - Pixel radius of the tooltip border
		tooltipCornerRadius: 6,			
		// Number - Pixel offset from point x to tooltip edge
		tooltipXOffset: 10,			
		// String - Template string for single tooltips
		//tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>",			
		// String - Template string for single tooltips
		//multiTooltipTemplate: "<%= value %>",			
		// Function - Will fire on animation progression.
		onAnimationProgress: function(){},			
		// Function - Will fire on animation completion.
		onAnimationComplete: function(){}
	}
</script>