<div class="portrait-row">
	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_mikehometchko.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Mike Hometchko</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">7 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_derek.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Derek Stansberry</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">14 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_danny.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Danny Navarro</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">2 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_derek.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Derek Stansberry</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">14 Tasks</span>
		</div>
	</div>
</div>
<div class="portrait-row">
	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_mikehometchko.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Mike Hometchko</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">7 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_derek.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Derek Stansberry</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">14 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_danny.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Danny Navarro</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">2 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_derek.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Derek Stansberry</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">14 Tasks</span>
		</div>
	</div>
</div>
<div class="portrait-row">
	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_mikehometchko.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Mike Hometchko</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">7 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_derek.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Derek Stansberry</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">14 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_danny.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Danny Navarro</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">2 Tasks</span>
		</div>
	</div>

	<div class="portrait pull-left">
		<div class="portrait-image-wrapper">
			<img src="../../img/staff_derek.jpg">
		</div>
		<div class="portrait-text-wrapper">
			<span class="portrait-name">Derek Stansberry</span>
			<span class="portrait-title">Software Engineer</span>
			<span class="portrait-tasks">14 Tasks</span>
		</div>
	</div>
</div>