<div class="project-row" style="margin-bottom: -25px;">
	<a class="button button-primary" href="/sprints/add/1"/>Add sprint</a>
</div>

{{ range $sprint := .D }}
	<div class="project-row">
		<a class="project" href="/sprints/detail/1">
			<h2 class="project-header">
				{{ $sprint.SprintTitle}}
				<span class="pull-right text-muted">
					1/26/2015 - 2/15/2015 (250 hrs)
				</span>
			</h2>
			<p class="project-description">
				{{ $sprint.Description }}
			</p>
		</a>
	</div>
{{ end }}