<div class="project-detail-header">
	<h1 class="center-text">
		Acuta
	</h1>
</div>

<div style="padding: 20px; display: block; margin-top: 25px;">
	<a class="button button-primary pull-left" href="/sprints/tasks/add/1">Add task</a>
	<a class="button button-primary pull-right" href="/sprints/milestones/add/1">Add milestone</a>
</div><br />

<div class="milestones">

	<div class="milestone">
		<div class="milestone-header">
			<h2 class="pull-left">
				Milestone 1
			</h2>
			<span class="pull-right tasks-on-milestone">8 tasks</span>
		</div>
		<div class="milestone-body">
			<a class="milestone-task" href="/sprints/tasks/1">
				<h3 class="task-header" style="margin-top: 0;">
					Task 1
					<span class="pull-right text-muted">
						Danny Navarro
					</span>
				</h3>
				<div class="task-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</div>
			</a>
			<a class="milestone-task">
				<h3 class="task-header" style="margin-top: 0;">
					Task 2
					<span class="pull-right text-muted">
						Travis Jones
					</span>
				</h3>
				<div class="task-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</div>
			</a>
			<a class="milestone-task">
				<h3 class="task-header" style="margin-top: 0;">
					Task 3
					<span class="pull-right text-muted">
						Danny Navarro
					</span>
				</h3>
				<div class="task-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</div>
			</a>
		</div>
	</div>

	<div class="milestone">
		<div class="milestone-header">
			<h2 class="pull-left">
				Second Milestone
			</h2>
			<span class="pull-right tasks-on-milestone">3 tasks</span>
		</div>
		<div class="milestone-body">
			<div class="milestone-task">
				<h3 class="task-header" style="margin-top: 0;">
					Task 1
					<span class="pull-right text-muted">
						Danny Navarro
					</span>
				</h3>
				<div class="task-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</div>
			</div>
			<div class="milestone-task">
				<h3 class="task-header" style="margin-top: 0;">
					Task 2
					<span class="pull-right text-muted">
						Travis Jones
					</span>
				</h3>
				<div class="task-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</div>
			</div>
			<div class="milestone-task">
				<h3 class="task-header" style="margin-top: 0;">
					Task 3
					<span class="pull-right text-muted">
						Danny Navarro
					</span>
				</h3>
				<div class="task-body">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</div>
			</div>
		</div>
	</div>

</div>
