<div class="milestone">
	<div class="milestone-header">
		<h2 class="pull-left">
			Task Name - Mike H
		</h2>
		<span class="pull-right tasks-on-milestone">
			25 Hours Projected <button class="btn-small">Edit Hours</button>
		</span>
	</div>
	<div class="milestone-body">
		<div class="milestone-task">
			<div class="task-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
			</div>
		</div>		
		<hr/>
		<div class="comment">
			<div class="comment-header">
				<h3 class="pull-left" style="margin-top: -2px;">
					Brent Fernandez
				</h3>
				<span class="pull-right">
					1/25/2015 4:30PM
				</span>
				<br />
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</p>
			</div>
		</div>
		<hr/>
		<div class="comment">
			<div class="comment-header">
				<h3 class="pull-left" style="margin-top: -2px;">
					Cheddi Rai
				</h3>
				<span class="pull-right">
					1/21/2015 1:00PM
				</span>
				<br />
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</p>
			</div>
		</div>
		<hr/>
		<div class="comment owner-comment">
			<div class="comment-header">
				<h3 class="pull-left" style="margin-top: -2px;">
					Mike H
				</h3>
				<span class="pull-right">
					1/21/2015 1:00PM
				</span>
				<br />
				<br />
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque mauris mauris, non iaculis enim volutpat id. Ut id tortor in est semper cursus volutpat.
				</p>
			</div>
		</div>
		<br /><br />
		<div class="add-comment">
			<textarea class="comment-text"></textarea> <br />
			<button class="pull-right button-primary">
				Add Comment
			</button>
			<br /><br /><br />
		</div>		
	</div>	
</div>