<!DOCTYPE html>
<html>
<head>
	<title>{{ .Title }}</title>
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400|Montserrat:700" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
	<link rel="stylesheet" type="text/css" href="/css/ionicons.css">

	<script type="text/javascript" src="/js/chart.js"></script>
</head>
<body>
	<header>
		<div class="container">
			<div {{if eq .Page "dashboard" }} class="pull-left dashboard selected" {{ else }} class="pull-left dashboard" {{ end }}>
				<a href="/">
					<span class="goFire">go</span> <i class="ion-fireball"></i>
				</a>
			</div>

			<ul id="nav">
				<li {{if eq .Page "people" }} class="menu-item selected" {{ else }} class="menu-item" {{ end }}>
					<a href="/people">
						<span>
							People
						</span>
					</a>
				</li>
				<li {{if eq .Page "sprints" }} class="menu-item selected" {{ else }} class="menu-item" {{ end }}>
					<a href="/sprints">
						<span>
							Sprints
						</span>
					</a>
				</li>
			</ul>

			<div {{if eq .Page "account" }} class="pull-right settings selected" {{ else }} class="pull-right settings" {{ end }}>
				<a href="/account">
					<i class="ion-gear-a"></i>
				</a>
			</div>

			<div {{if eq .Page "analytics" }} class="pull-right analytics selected" {{ else }} class="pull-right analytics" {{ end }}>
				<a href="/analytics">
					<i class="ion-ios-analytics"></i>
				</a>
			</div>
		</div>
	</header>

	<div class="container" id="main-container">
		<div class="spacing"></div>

		{{ yield }}
	</div>

	<footer>

	</footer>
<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
